<div id="categoryPage">
	
	<form *ngIf="showAddForm" [formGroup]="productForm" (ngSubmit)="onSubmit()" novalidate>

		<div class="form-group">

			<label class="center-block">Category:</label><br>
			<select class="form-control" formControlName="categoryId">
				<option disabled="true">Please select</option>
				<option *ngFor="let category of categories" value="{{category.categoryId}}">{{category.categoryName}}</option>
			</select>
			
			<br><br>
	    	<label class="center-block">Product Name <span class="labelSmallText">(10 to 100 characters)</span>:</label><br>
	      		<input class="form-control" formControlName="productName" required minlength="10" maxlength="100">
	    	
	    	<br><br>
	    	<label class="center-block">Product Desc <span class="labelSmallText">(30 to 1000 characters)</span>: </label><br>
		      	<textarea class="form-control" formControlName="productDesc" rows="4" cols="50" required minlength="30" maxlength="1000">
				</textarea>
		   
		    <br><br>
		    <label class="center-block">Product Long Desc <span class="labelSmallText">(50 to 4000 characters)</span>:</label><br>
		      	<textarea class="form-control" formControlName="productLongDesc" rows="4" cols="50" required minlength="50" maxlength="4000">
				</textarea>
		    
		    <br><br>
		    <label class="center-block">Product Price <span class="labelSmallText">(INR)</span>:</label><br>
		      	<input type="number" class="form-control" formControlName="productPrice">
		    
		    <br><br>
		    <label class="center-block">Product Weight <span class="labelSmallText">(Kgs)</span>:</label><br>
		      	<input type="number" class="form-control" formControlName="productWeight">
		    
		    <br><br>
		    <label class="center-block">Product Status:</label><br>
			<select class="form-control" formControlName="productStatus">
				<option value="Not Started">Not Started</option>
				<option value="Inprogress">Inprogress</option>
				<option value="Completed">Completed</option>
			</select>
			
			<br><br>
			<label class="center-block">Stock (Product Quantity):</label><br>
		      	<input type="number" class="form-control" formControlName="stock">
		    
		    <br><br>
		    <label class="center-block">Product Images:</label><br>
		    	<input type="file" [(ngModel)]="productImages" formControlName="productImages" (change)="onFilesChange($event)"  multiple/>
		    
	  	</div>
	  	<br>
	  	<div style="margin-bottom: 1em">
	    	<button type="submit"
	            [disabled]="productForm.status !== 'VALID'" class="btn btn-success">Save</button> &nbsp;
	    	<button type="reset" (click)="revert()"
	            [disabled]="productForm.pristine" class="btn btn-danger">Revert</button>
	        <button *ngIf="showAddForm" (click)="showAddForm = !showAddForm" class="btn btn-danger">Cancel</button>
	  	</div>
	</form>

	<button *ngIf="!showAddForm" (click)="showAddForm = !showAddForm">Add Product</button>
	<br><br>
	
	<div *ngIf="!showAddForm">
		<input type="text" [(ngModel)]="searchText" placeholder="search product" />
		<button (click)="searchProduct()">Search</button>
		<table>
			<tr>
				<th>Index</th>
				<th>Category</th>
				<th>Product ID</th>
				<th>Product Name</th>
				<th>Product Desc</th>
				<th>Product Desc1</th>
				<th>Product Price</th>
				<th>Product Weight</th>
				<th>Product Status</th>
				<th>Product Stock</th>
				<th>Product Images</th>
				<th>Is Active</th>
				<th>Action</th>
			</tr>
			<tr *ngFor="let product of products; let i = index">
				<td class="">{{i+1}}</td>
				<td class="">{{product.categoryName}}</td>
				<td class="">{{product.productId}}</td>
				<td class="">{{product.productName}}</td>
				<td class="">{{product.productDesc}}</td>

				<td class="">{{product.productLongDesc}}</td>
				<td class="">{{product.productPrice}}</td>
				<td class="">{{product.productWeight}}</td>
				<td class="">{{product.productStatus}}</td>
				<td class="">{{product.stock}}</td>
				<td class="" [innerHTML]="product.productImages | anchorImagesPipe"></td>
				<td class="">{{product.isActive}}</td>
				<td class="">
					<a href="" (click)="editProduct(product.productId)">Edit</a>
					<a href="" (click)="deleteProduct(product.productId)">Delete</a>
				</td>
			</tr>
		</table>
	</div>
</div>